{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
  <title>КомпУНИ - Поиск</title>
{% endblock %}

{% block main %}
  <div class="section product-list container">
    <div class="row">

      {% if product_lists %}
          <div class="table col-lg-12">
            <h2>Найденные товары</h2>
            <table>
              <tr>
                <th>Название</th>
                <th>Стоимость</th>
                <th>Есть в наличии</th>

                {% if perms.products.change_product %}
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                {% endif %}

              </tr>
              {% for product in product_lists %}
                <tr>
                  <td class="centered">
                    <a href="{% url "product" product_id=product.id %}">{{ product.name }}</a>
                  </td>
                  <td class="centered">
                    {{ product.price }} руб.
                  </td>
                  <td class="centered">
                    {% if product.quantity %}
                      {{ product.quantity }}
                    {% else %}
                      -
                    {% endif %}
                  </td>
                  {% if perms.products.change_product %}
                    <td class="centered">
                      <a href="{% url "product_edit" product_id=product.id %}">Изменить</a>
                    </td>
                    <td class="centered">
                      <a href="{% url "product_delete" product_id=product.id %}">Удалить</a>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </table>
          </div>
          <div class="pagination col-sm-3 offset-sm-5 col-3 offset-3">
            {% bootstrap_pagination product_lists url=last_question %}
          </div>

      {% else %}
        <div class="col-lg-12">
          <h2>Не найдено товаров по вашему запросу!</h2>
          <p>Попробуйте повторить запрос с другой формулировкой.</p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
